@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Bungee", cursive;
}
.fairy-cursor {
	cursor: url("./assets/Images-web/Tinkerbell-cursor.png") 50 50, auto;
}
