@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	background-color: #ebf5ec;
	background-image: url("./assets/Images-web/background_image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 20px;
	left: 20px;
	padding-bottom: 50px;
}
h1 {
	font-family: "Bungee", cursive;
	text-align: left;
	color: black;
	font-size: 24px;
}
h3 {
	font-family: "Bungee", cursive;
	text-align: center;
	color: black;
}
p {
	font-family: "Lato", sans-serif;
	text-align: center;
	color: black;
}
a {
	text-decoration: none;
	font-family: "Bungee", sans-serif;
	text-align: left;
	color: black;
}
.fairy-cursor {
	cursor: url("./assets/Images-web/Tinkerbell-cursor.png") 50 50, auto;
}
.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin: 10px;
	width: 200px;
	transition: transform 0.2s;
}
.menu:hover {
	transform: scale(1.05);
	text-decoration: underline 2px solid crimson;
}

.fairy-tale-text h2 {
	font-family: "Lato", sans-serif;
	text-align: left;
	color: black;
	font-size: 16px;
	font-weight: 900;
}
.fairy-tale-text p {
	font-family: "Lato", sans-serif;
	text-align: left;
	color: #767676;
	font-size: 16px;
	font-weight: bold;
}
.fairy-tales-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.fairy-tales-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	margin-bottom: 40px;
}
.fairy-tale {
	display: flex;
	flex-direction: column;
	position: relative;
}
.fairy-tale img {
	width: 270px;
	height: 410px;
	border-radius: 8px;
}
.fairy-tale-button {
	position: relative;
	bottom: 10px;
	left: 50%;
	right: 10px;
	width: 36px;
	height: 36px;
	background-color: #e63946;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: none;
	cursor: pointer;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	background-color: white;
}
.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin: 10px;
	width: 100%;
}
.logo-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin: 10px;
	width: 100px;
	height: 100px;
	position: relative;
	bottom: 20px;
	right: 20px;
}
.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin: 10px;
	width: 100%;
}
.about-container h3 {
	font-family: "Bungee", cursive;
	text-align: left;
	color: black;
	font-size: 24px;
}
.about-container p {
	font-family: "Lato", sans-serif;
	text-align: left;
	color: black;
	font-size: 16px;
}
.links-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin: 10px;
	width: 100%;
}
.links-container h3 {
	font-family: "Bungee", cursive;
	text-align: left;
	color: black;
	font-size: 24px;
}
.links-container a {
	font-family: "Lato", sans-serif;
	text-align: left;
	color: black;
	font-size: 16px;
	display: flex;
}
